@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Instrument Sans", system-ui, sans-serif;
    background-color: #FFF8EF; /* cream */
    color: #405B2E; /* olive */
  }

  /* Hide number input spinners globally */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
